.markdown {
  // {{< expand "Label" "icon" >}}
  .book-expand {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    .book-expand-head {
      background: var(--gray-100);
      padding: $padding-8 $padding-16;
      cursor: pointer;
    }

    .book-expand-content {
      display: none;
      padding: $padding-16;
    }

    input[type="checkbox"]:checked + .book-expand-content {
      display: block;
    }
  }

  // {{< tabs >}}
  .book-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $padding-8 $padding-16;
      border-bottom: $padding-1 transparent;
      cursor: pointer;
    }

    .book-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      border-top: $padding-1 solid var(--gray-100);
      padding: $padding-16;
      display: none;
    }

    input[type="radio"]:checked + label {
      border-bottom: $padding-1 solid var(--color-link);
    }
    input[type="radio"]:checked + label + .book-tabs-content {
      display: block;
    }
    input[type="radio"]:focus + label {
      @include outline;
    }
  }

  // {{< columns >}}
  .book-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    > div {
      margin: $padding-16 0;
      min-width: $body-min-width / 2;
      padding: 0 $padding-16;
    }
  }

  // {{< button >}}
  a.book-btn {
    display: inline-block;
    font-size: $font-size-16;
    // color: #303030;
	//color: #B39CE5;

    font-size: 2rem;
    font-weight: 500;
    color: #111827;

    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid #efefef;
    cursor: pointer;

    border-radius: $border-radius;
    border: 1px solid #e5e7eb;
    background: 1px solid #f0f0f0;
    text-decoration: none;
    padding: 80px;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .book-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.1);
      }
    }
  }

  // {{< steps >}}
  .book-steps {
    position: relative;

    >ol {
      counter-reset: steps;
      list-style: none;
      padding-inline-start: $padding-16 + $padding-4;
      margin-top: $padding-16 * 2;

      >li::before {
        content: counter(steps);
        counter-increment: steps;

		font-size: 16px;
		//font-weight: 600;

        position: absolute;
        display: flex;
        justify-content: center;
        left: $padding-4;

        height: $padding-16 * 1.5;
        width: $padding-16 * 1.5;
        padding: 4px; //$padding-4;
        border-radius: 32px; // $padding-8;

        white-space: nowrap;
        //line-height: $padding-16;

        color: black;
        //background: #202020;
        background: white;
        border: 1px solid #cccccc;
      }

      >li {
        @extend .markdown-inner;
        border-inline-start: $padding-1 solid #e5e7eb;
        padding-inline-start: 40px;
        padding-bottom: $padding-16 * 2;
      }

      >li:last-child {
        border: 0;
        padding-bottom: 10px; 
      }
    }
  }
}
